* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background: url(images/hercules-hall-surrounded-by-greenery-sunlight-daytime-munich-germany2.jpg)
    no-repeat center / cover;
  position: relative;
}
:root {
  --font-family1: "Open Sans", sans-serif;
}
/*----Navbar-----*/

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

#icon1 {
  color: #f8f8ff7c;
}

nav img {
  width: 150px;
}

.navlinks {
  flex: 1;
  text-align: right;
}

.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.navlinks ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.navlinks ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: blue;
  display: block;
  margin: auto;
  transition: 0.4s;
}

.navlinks ul li:hover::after {
  width: 100%;
}

.textarea {
  width: 90%;
  color: darkblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.textarea1 {
  color: snow;
}

.textarea h1 {
  font-size: 62px;
}

.textarea p {
  margin: 10px 0 40px;
  font-size: 20px;
  color: snow;
}

.explorebutton {
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid snow;
  padding: 12px 32px;
  font-size: 13px;
  border-radius: 20px 20px 20px 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.explorebutton:hover {
  border: 1px solid rgba(34, 34, 192, 0.212);
  background: rgba(34, 34, 192, 0.212);
  transition: 0.7s;
  color: snow;
  transform: scale(1.1);
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .textarea h1 {
    font-size: 20px;
  }

  .navlinks ul li {
    display: block;
  }

  .navlinks {
    position: fixed;
    background: rgba(0, 0, 255, 0.37);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1.5s;
  }

  nav .fa {
    display: block;
    color: snow;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
}

/*---course---*/
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 38px;
  font-weight: 600;
}

p {
  color: black;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.course1 {
  flex-basis: 30%;
  background: #a2cbf9;
  border-radius: 10px;
  margin-bottom: 1%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.course2 {
  flex-basis: 30%;
  background: #a2cbf9;
  border-radius: 10px;
  margin-bottom: 1%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.course3 {
  flex-basis: 30%;
  background: #a2cbf9;
  border-radius: 10px;
  margin-bottom: 1%;
  padding: 20px 12px;
  box-sizing: border-box;
}

.classbutton {
  display: inline-block;
  text-decoration: none;
  color: rgba(34, 34, 192, 0.87);
  border: 1px solid snow;
  padding: 12px 32px;
  font-size: 13px;
  border-radius: 20px 20px 20px 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  justify-content: center;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course1 .course2 .course3:hover {
  box-shadow: 0 0 20px 0 grey;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/*----Campus-----*/

.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.campus p {
  padding: 0;
  color: black;
}

.campusbox {
  display: flex;
  justify-content: center;
}

.campusimg {
  flex-basis: 50%;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}

.campusimg img {
  height: 100%;
  width: 80%;
  display: block;
  border-radius: 10px;
}

.layer {
  background: transparent;
  height: 100%;
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
  border-radius: 10px;
}

.layer:hover {
  background: rgba(0, 0, 226, 0.7);
  border-radius: 10px;
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: snow;
  font-size: 29px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 50%;
  opacity: 1;
}

/*------facilities-------*/

.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.facilities p {
  padding: 0;
  color: black;
}

.facilitiesimg {
  flex-basis: 30%;
  border-radius: 20px;
  margin-bottom: 5%;
  text-align: left;
}

.facilitiesimg img {
  width: 80%;
  border-radius: 10px;
}

.facilitiesimg p {
  padding: 0;
  color: black;
}

.facilitiesimg h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  text-align: left;
}

.galimg1 {
  height: 300px;
  margin-left: 2%;
  width: 322px;
  border: 0px;
  background: url(images/fac1.jpg) no-repeat center /
    cover;
  &:hover {
    transform: scale(1.1);
    transition-duration: 1.2s;
    cursor: zoom-in;
    box-shadow: none;
  }
}

.galimg2 {
  height: 300px;
  margin-left: 2%;
  width: 322px;
  border: 0px;
  background: url(images/fac2.jpg) no-repeat center /
    cover;
  &:hover {
    transform: scale(1.1);
    transition-duration: 1.2s;
    cursor: zoom-in;
    box-shadow: none;
  }
}



.galimg3 {
  height: 300px;
  margin-left: 2%;
  width: 322px;
  border: 0px;
  background: url(images/fac3.jpg) no-repeat center /
    cover;
  &:hover {
    transform: scale(1.1);
    transition-duration: 1.2s;
    cursor: zoom-in;
    box-shadow: none;
  }
}

.galimg4 {
  height: 300px;
  margin-left: 2%;
  width: 322px;
  border: 0px;
  background: url(images/fac4.jpg) no-repeat center /
    cover;
  &:hover {
    transform: scale(1.1);
    transition-duration: 1.2s;
    cursor: zoom-in;
    box-shadow: none;
  }
}

.galimg5 {
  height: 300px;
  margin-left: 2%;
  width: 322px;
  border: 0px;
  background: url(images/fac5.jpg) no-repeat center /
    cover;
  &:hover {
    transform: scale(1.1);
    transition-duration: 1.2s;
    cursor: zoom-in;
    box-shadow: none;
  }
}

.galimg6 {
  height: 300px;
  margin-left: 2%;
  width: 322px;
  border: 0px;
  background: url(images/fac6.jpg) no-repeat center /
    cover;
  &:hover {
    transform: scale(1.1);
    transition-duration: 1.2s;
    cursor: zoom-in;
    box-shadow: none;
  }
}

.galimg7 {
  height: 300px;
  margin-left: 2%;
  width: 322px;
  border: 0px;
  background: url(images/fac7.jpg) no-repeat center /
    cover;
  &:hover {
    transform: scale(1.1);
    transition-duration: 1.2s;
    cursor: zoom-in;
    box-shadow: none;
  }
}

.galimg8 {
  height: 300px;
  margin-left: 2%;
  width: 322px;
  border: 0px;
  background: url(images/fac8.jpg) no-repeat center /
    cover;
  &:hover {
    transform: scale(1.1);
    transition-duration: 1.2s;
    cursor: zoom-in;
    box-shadow: none;
  }
}

.row1 {
  display: flex;
}

@media (max-width: 700px) {
  .row1 {
    flex-direction: column;
    
  }
}



/*-----Testimonials-----*/

.testy {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testy p {
  padding: 0;
  color: black;
}

.testyimg {
  flex-basis: 30%;
  border-radius: 30px;
  margin-bottom: 5%;
  text-align: left;
  background: #a2cbf9;
  padding: 15px;
  cursor: pointer;
  display: flex;
}

.testyimg img {
  height: 30px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 50%;
}

.testyimg p {
  padding: 0;
  color: black;
}

.testyimg h3 {
  margin-top: 15px;
  text-align: left;
}

@media (max-width: 700px) {
  .testyimg img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

.coa {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/244480-P42ZWD-378foot.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  text-align: center;
  padding: 100px 0;
}

.coa h1 {
  color: snow;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .coa h1 {
    font-size: 24px;
  }
}

.foot {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  .foot h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
  }
}

/*------ABOUT-Page------*/

.aboutheader {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/graduating-time-covid-19-background110.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.aboutus {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
  margin-bottom: 5%;
  color: #09477f;
}

.about-col p {
  padding: 15px 0 25px;
  margin-bottom: 5%;
}

.abt-usbtn {
  border: 1px solid #011425;
  background-color: transparent;
  color: #000;
}

.abt-usbtn:hover {
  color: snow;
  background-color: #09477f;
  text-decoration: solid;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/*-----contact us-----*/

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.contactus {
  width: 80%;
  margin: auto;
}

.contactcol {
  flex-basis: 50%;
  margin-bottom: 30px;
}

.contactcol div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contactcol div .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.contactcol div p {
  padding: 0;
}

.contactcol div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contactcol1 input,
.contactcol1 textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.footer i {
  background-color: #ffffff07;
  color: #0c37c4;
  padding: 20px;
  text-align: center;
  clear: both;
}

.footer-content p {
  font-size: larger;
  font-weight: 500;
  margin-right: 4%;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 60px;
}

.footer-links li {
  margin-right: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
    padding: 0;
  }

  .footer-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
